<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
<div>
    <h3>商品详情</h3>
    <div>

        <div>
            <label class="control-label" id="title"/>
        </div>
    </div>

    <div>
        <label class="control-label">价格</label>
        <div>
            <label class="control-label" id="price"/>
        </div>
    </div>


    <div>
        <label class="control-label">库存</label>
        <div>
            <label class="control-label" id="stock"/>
        </div>
    </div>

    <div>
        <label class="control-label">商品描述</label>
        <div>
            <label class="control-label" id="description"/>
        </div>
    </div>
    <div>

        <div>
            <img style="width: 200px;height: auto" id="imgUrl">
        </div>
    </div>
      <div>
            <label class="control-label">商品销量</label>
            <div>
                <label class="control-label" id="sales"/>
            </div>
        </div>

         <div>
                <button id="createorder" type="submit">
                    下单
                </button>
            </div>


</div>

</body>

<script>
 function getQueryString(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return unescape(r[2]); return null;
 }

    var g_itemVO = {};

    jQuery(document).ready(function () {
       // 获取商品详情
        $("#createorder").on("click", function() {
           $.ajax({
              type: "POST",
              contentType: "application/x-www-form-urlencoded",
              url: "http://localhost:8080/order/createorder",
              data: {
                 "itemId": g_itemVO.id,
                 "amount": 1
              },
              xhrFields:{withCredentials:true},
              success: function (data) {
                  if (data.status ==  "success") {
                        alert("下单成功");
                        window.location.reload();
                  } else {
                      alert("1下单失败, 原因为" + data.data.errMsg);
                      if (data.data.errCode == 20003){
                          window.location.href="login.html";
                      }
                  }
              },
              error: function (data) {
                  alert("下单失败2, 原因为" + data.responseText);
              }
          });
        })

        $.ajax({
            type: "GET",
            contentType: "application/x-www-form-urlencoded",
            url: "http://localhost:8080/item/get",
            data: {
               "id": getQueryString("id")
            },
            xhrFields:{withCredentials:true},
            success: function (data) {
                if (data.status ==  "success") {
                    g_itemVO = data.data
                    reloadDom();
                    // window.location.href="login.html";
                } else {
                    alert("1item get, 原因为" + data.data.errMsg);
                }
            },
            error: function (data) {
                alert("2item get, 原因为" + data.responseText);
            }


        });
    });

    function reloadDom() {
      $("#title").text(g_itemVO.title);
      $("#description").text(g_itemVO.description);
      $("#price").text(g_itemVO.price);
      $("#stock").text(g_itemVO.stock);
      $("#sales").text(g_itemVO.sales);
      $("#imgUrl").attr("src",g_itemVO.imgUrl);
    }

</script>
</html>